*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
}

:root {
    --primary-color: #38FF56;
    --secondary-color: #FFC300;
    --text-color-light: #EADEDA;
    --text-color-dark: #0D0B1C;
    --text-color-warning: #FE6C6E;
    --background-color-dark: #2E294E;
    --background-color-light: #E3E3E3;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
}

.calculator {
    margin-top: 25px;
    margin-left: 28px;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.display {
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    border: 5px solid var(--background-color-light);
    border-radius: 3px;
    padding: 5px 5px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 32px;
}

.keypad {
    table-layout: fixed;
    width: 100%;
    background-color: var(--background-color-light);
    padding: 5px 5px;
    border-radius: 3px;
}

.keypad td {
    padding: 0;
}

button {
    cursor: pointer;
    background-color: var(--background-color-dark);
    padding: 8px 0;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
    color: var(--text-color-light);
}

.green-font {
    color: var(--primary-color);
}

.red-font {
    color: var(--text-color-warning);
}

.equal-sign {
    background-color: var(--primary-color);
    color: var(--background-color-dark);
}

.operand:focus {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
}